{% set list = __SELF__.list %}

<ul>
    {% for skb in list %}
    <li>
        <div class="rate">{{ skb.rate }}</div>
        <div class="region">{{ skb.region }}</div>
    </li>
    {% endfor %}
</ul>
