<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('conceptm/customerjourney/actions') ?>">Acties</a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= Form::open(['class'=>'layout']) ?>

    <div class="layout-row">
        <?= $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:true"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Actie aanmaken..."
                class="btn btn-default">
                Opslaan en sluiten
            </button>
            <span class="btn-text">
                of <a href="<?= Backend::url('conceptm/customerjourney/actions') ?>">Annuleren</a>
            </span>
        </div>
    </div>

<?= Form::close() ?>
