<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('conceptm/customerjourney/projects') ?>">Projecten</a></li>
        <li><?= e(trans($this->pageTitle)) ?></li>
    </ul>
<?php Block::endPut() ?>

<?= Form::open(['class'=>'layout']) ?>

    <div class="layout-row">
        <?= $this->formRender() ?>
    </div>

    <div class="form-buttons">
        <div class="loading-indicator-container">
            <button
                type="button"
                data-request="onSave"
                data-request-data="close:true"
                data-hotkey="ctrl+enter, cmd+enter"
                data-load-indicator="Bezig met opslaan..."
                class="btn btn-default">
                Opslaan
            </button>
            <button
                type="button"
                class="oc-icon-trash-o btn-icon danger pull-right"
                data-request="onDelete"
                data-load-indicator="Project verwijderen"
                data-request-confirm="Weet je zeker dat je dit project wilt verwijderen?">
            </button>
            <span class="btn-text">
                of <a href="<?= Backend::url('conceptm/customerjourney/projects') ?>">Annuleren</a>
            </span>
        </div>
    </div>

<?= Form::close() ?>
