{% set list = __SELF__.list %}
{% set list_id = __SELF__.list_id %}

<div class="action-list" id="{{ list_id }}">
    <div class="list-wrapper">

        {% for cat in list %}
            <div id="cat-{{ cat.slug }}" class="cat-wrapper">
                <div class="skew">
                    <h2>{{ cat.title }}</h2>
                </div>
                <div class="intro">
                    <p>{{ cat.subtitle }}</p>
                </div>
                <div class="list">
                <table>
                    {% for action in cat.actions %}
                    <tr>
                        <td class="number">{{ action.number }}</td>
                        <td class="title"><a href="/actie/{{ action.category }}/{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a>{% if action.aggregate > 0 %}<span class="like-count">{{ action.aggregate }}x</span></td>{% endif %}
                        <td class="link"><a href="/actie/{{ action.category }}/{{ action.slug }}">›</a></td>
                    </tr>
                    {% endfor %}
                </table>
                </div>

            </div>
        {% endfor %}
    </div>
</div>
