<div class="user-block">
    <div class="text">
        <div class="name">{{ user.name }} {{ user.surname }}</div>
        <a data-request="onLogout" data-request-data="redirect: '/'">Uitloggen</a>
    </div>
    {% if user.avatar.path %}
    <div class="avatar" style="background-image: url({{ user.avatar.path }});"></div>
    {% endif %}
</div>



