{% set data = __SELF__.data %}
{% set user = __SELF__.user %}
{% set category = __SELF__.category %}
{% set liked = 2 %}

{% for like in data.likes %}
    {% if like.user_id == user.id %}
        {% set liked = like.like %}
    {% endif %}
{% endfor %}

{% if data.title == "" %}
<!-- TODO: Better solution for this redirect -->
<script>location.href = "/";</script>
{% else %}
<div class="action">
    <div class="visual" style="background-image: url('{{ data.image.path }}')">
        <div class="header">
            <div class="content-wrapper">
                <div class="title-wrapper">
                    <h1>{{ data.title }}</h1>
                    <h2><span class="number">{{ data.number }}</span> Fase: {{ category.title|lower }}</h2>
                </div>
                <div class="actions">
                    <div class="share">
                        <a href="mailto:emailadres?subject=Handige Customer journey actie&body={{ data.title }}
                        %0D%0A{{ url_current() }}">Deel deze actie</a>
                    </div>
                    <div class="like" id="action-like">
                        <div class="title">Waardevolle actie?</div>
                        <form data-request="{{ __SELF__ }}::onSaveLike">
                        <input type="hidden" name="action" value="{{ data.id }}"/>
                        <input type="radio" name="like" value="yes" class="yes" id="like-yes" {% if liked == 1 %}checked{% endif %} />
                        <label for="like-yes">Ja</label>
                        <input type="radio" name="like" value="no" class="no" id="like-no" {% if liked == 0 %}checked{% endif %}/>
                        <label for="like-no">Nee</label>
                        <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper action-content-wrapper">
        <div class="content">
            <div class="inner">
                <div class="chapter">
                    <h3>Waarom?</h3>
                    {{ data.why | raw }}
                </div>
                <div class="chapter">
                    <h3>Hoe?</h3>
                    {{ data.how | raw }}
                </div>
                <div class="chapter">
                    <h3>Wat?</h3>
                    {{ data.what | raw }}
                </div>

                {% if data.memo.path %}
                <a href="{{ data.memo.path }}" class="download-memo" target="_blank">
                    <div class="cta-text-1">Lees verder:</div>
                    <div class="cta-text-2">Download de memo</div>
                </a>
                {% endif %}

                {% if data.neighbours %}
                <div class="action-paginator">
                    {% if data.neighbours.prev %}
                    <div class="prev">
                        <h4>Vorige actie</h4>
                        <a href="/actie/{{ data.neighbours.prev.category }}/{{ data.neighbours.prev.slug }}">{{ data.neighbours.prev.number }} {{ data.neighbours.prev.title }}</a>
                    </div>
                    {% endif %}
                    {% if data.neighbours.next %}
                    <div class="next">
                        <h4>Volgende actie</h4>
                        <a href="/actie/{{ data.neighbours.next.category }}/{{ data.neighbours.next.slug }}">{{ data.neighbours.next.number }} {{ data.neighbours.next.title }}</a>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="sidebar">
            {% if data.ambassador %}
            <div class="ambassador block">
                <div class="inner">
                    <h3>Ambassadeur</h3>
                    <div class="contact-name">{{ data.ambassador.full_name }}</div>
                    <div class="contact-data">
                        {% if data.ambassador.location %}
                        <div class="contact-location">{{ data.ambassador.location }}</div>
                        {% endif %}
                        {% if data.ambassador.email %}
                        <a href="mailto: {{ data.ambassador.email }}" class="contact-email">{{ data.ambassador.email }}</a>
                        {% endif %}
                        {% if data.ambassador.phone %}
                        <a href="tel: {{ data.ambassador.phone }}" class="contact-phone">{{ data.ambassador.phone }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="block-top"></div>
            </div>
            {% endif %}

            <div class="contacts block">
                <div class="inner">
                    <h3>Vragen?</h3>
                    <ul class="contacts-list">
                        {% set class = "open" %}
                        {% for contact in data.contacts %}
                        <li class="{{ class }}">
                            <div class="contact-name">{{ contact.name }} {{ contact.surname }}</div>
                            <div class="contact-data">
                                {% if contact.location %}
                                <div class="contact-location">{{ contact.location }}</div>
                                {% endif %}
                                {% if contact.email %}
                                <a href="mailto: {{ contact.email }}" class="contact-email">{{ contact.email }}</a>
                                {% endif %}
                                {% if contact.phone %}
                                <a href="tel: {{ contact.phone }}" class="contact-phone">{{ contact.phone }}</a>
                                {% endif %}
                            </div>
                            <div class="arrow"></div>
                        </li>
                        {% set class = "" %}
                        {% endfor %}
                    </ul>
                </div>
                {% if not data.ambassador %}
                <div class="block-top"></div>
                {% endif %}
            </div>
            {% if data.files is not empty %}
            <div class="downloads block">
                <div class="inner">
                    <h3>Downloads</h3>
                    <ul>
                        {% for file in data.files %}
                        <li>
                            <a href="{{ file.path }}" title="{{ file.file_name }}" target="_blank">{{ file.file_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            {% if data.links is not empty %}
            <div class="links block">
                <div class="inner">
                    <h3>Links</h3>
                    <ul>
                        {% for link in data.links %}
                        <li>
                            <a href="{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <!-- <div class="projects block">
                <div class="inner">
                    <h3>Uitgevoerd in projecten</h3>
                    {% if data.projects is empty %}
                    Deze actie is nog niet bij een project toegepast.
                    {% else %}
                    <ul>
                        {% for project in data.projects %}
                        <li>
                            <a href="/project/{{ project.slug }}" title="{{ project.name }}">{{ project.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <div class="add-project-button">
                        <button class="show-addform">Project toevoegen</button>
                    </div>

                </div>
            </div> -->

        </div>
    </div>
</div>
{% endif %}
