{% set data = __SELF__.data %}

<div class="conceptm-carroussel">
    {% for slide in data.slides %}
    <div style="background-image: url('{{ slide.image.path }}');" class="slide">
        <div class="content-wrapper">
                <div class="text">
                    {% if slide.link %}<a href="{{ slide.link }}">{% endif %}
                    <div class="quote">{{ slide.quote }}</div>
                    <div class="by">{{ slide.by }}</div>
                    {% if slide.link %}</a>{% endif %}
                </div>
        </div>
    </div>
    {% endfor %}
</div>
