<form
    data-request="onRegister">
    <div class="form-group">
        <label for="registerName">Full Name</label>
        <input name="name" type="text" class="form-control" id="registerName" placeholder="Je volledige naam">
    </div>

    <div class="form-group">
        <label for="registerEmail">Email</label>
        <input name="email" type="email" class="form-control" id="registerEmail" placeholder="Je emailadres">
    </div>

    <div class="form-group">
        <label for="registerPassword">Password</label>
        <input name="password" type="password" class="form-control" id="registerPassword" placeholder="Kies een wachtwoord">
    </div>

    <button type="submit" class="btn btn-default">Registreer</button>
</form>
