<form
    data-request="onSignin">
    <div class="form-group">
        <label for="userSigninLogin">Email</label>
        <input name="login" type="text" class="form-control" id="userSigninLogin" placeholder="Emailadres">
    </div>

    <div class="form-group">
        <label for="userSigninPassword">Password</label>
        <input name="password" type="password" class="form-control" id="userSigninPassword" placeholder="Wachtwoord">
    </div>

    <button type="submit" class="btn btn-default">Inloggen</button>
</form>
