{% set data = __SELF__.data %}
{% set categories = __SELF__.categories %}

{% if data.name == "" %}
<!-- TODO: Better solution for this redirect -->
<script>location.href = "/";</script>
{% else %}


<div class="project">
    {% if data.image.path == "" %}
    <div class="no-visual">
    {% else %}
    <div class="visual" style="background-image: url('{{ data.image.path }}')">
    {% endif %}
        <div class="header">
            <div class="content-wrapper">
                <div class="title-wrapper">
                    <h1>{{ data.name }}</h1>
                    <h2>{{ data.city }}</h2>
                </div>
                <div class="actions">
                    {% if data.url %}
                    <div class="website">
                        <h4>Project website:</h4>
                        <a href="{{ data.url }}" target="_blank">{{ data.url }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper project-content-wrapper">
        <div class="content">
            <div class="inner">
                <h2>Uitgevoerde acties</h2>

                <div class="add-action-button">
                    <button class="show-addform">Actie toevoegen</button>
                </div>

                <div class="categories">
                {% if categories is empty%}
                <h3>Geen acties</h3>
                {% endif %}
                {% for category in categories %}
                    <h3>{{ category.title }}</h3>
                    <table>
                    {% for action in data.actions %}
                    {% if action.category == category.slug %}
                        <tr>
                            <td class="number">{{ action.number }}</td>
                            <td class="title"><a href="/actie/{{ action.category }}/{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></td>
                            <td class="link"><a href="/actie/{{ action.category }}/{{ action.slug }}">›</a></td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                    </table>
                {% endfor %}
                </div>

            </div>
        </div>

        <div class="sidebar">
            <div class="contacts block">
                <div class="inner">
                    <h3>Contactpersonen</h3>
                    <ul class="contacts-list">
                        {% set class = "open" %}
                        {% for contact in data.contacts %}
                        <li class="{{ class }}">
                            <div class="contact-name">{{ contact.name }} {{ contact.surname }}</div>
                            <div class="contact-data">
                                {% if contact.location %}
                                <div class="contact-location">{{ contact.location }}</div>
                                {% endif %}
                                {% if contact.email %}
                                <a href="mailto: {{ contact.email }}" class="contact-email">{{ contact.email }}</a>
                                {% endif %}
                                {% if contact.phone %}
                                <a href="tel: {{ contact.phone }}" class="contact-phone">{{ contact.phone }}</a>
                                {% endif %}
                            </div>
                            <div class="arrow"></div>
                        </li>
                        {% set class = "" %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="block-top"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
