{% set type = __SELF__.type %}
{% set data = __SELF__.data %}
{% set item_id = __SELF__.item_id %}

{% if type == 'actions' %}

<div class="add-form" id="add-form">
    <div class="form-wrapper">
        <h2>Actie toevoegen</h2>
        <form data-request="{{ __SELF__ }}::onAddRelation"  data-request-success="reloadPage()">
        <input type="hidden" name="action" id="form-action-id" value=""/>
        <input type="hidden" name="project" value="{{ item_id }}"/>
        <div class="custom-select" data-related-input="form-action-id">
            <div class="title"><div class="text">Selecteer een actie</div></div>
            <div class="options">
                <ul>
                    {% for action in data %}
                    <li data-id="{{ action.id }}">{{ action.full_title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="submit">
            <button type="submit">Toevoegen</button>
        </div>
        </form>
        <button class="close-addform"></button>
    </div>
</div>

{% else %}

<div class="add-form">
    <div class="form-wrapper">
        <h2>Project toevoegen</h2>
        <form data-request="{{ __SELF__ }}::onAddRelation" data-request-success="reloadPage()">
        <input type="hidden" name="action" value="{{ item_id }}"/>
        <input type="hidden" name="project" id="form-project-id" value=""/>
        <div class="custom-select" data-related-input="form-project-id">
            <div class="title"><div class="text">Selecteer een project</div></div>
            <div class="options">
                <ul>
                    {% for project in data %}
                    <li data-id="{{ project.id }}">{{ project.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="submit">
            <button type="submit">Toevoegen</button>
        </div>
        </form>
        <button class="close-addform"></button>
    </div>
</div>

{% endif %}



