/*  ================================================
    Colors
==================================================== */
$white  : rgb(255,255,255);
$black  : rgb(0,0,0);
$purple : rgb(68,62,94);
$dark-purple : rgb(42,39,59);
$yellow : rgb(241,175,42);
$red    : rgb(216,35,42);
$blue   : rgb(0,46,80);
$green  : rgb(152,162,66);
$grey   :  rgb(224,224,224);

$white-trans : rgba(255,255,255,.5);
$purple-trans: rgba(50,46,70,.7);

/*  ================================================
    Borders
==================================================== */
$font-pasifico: 'Pacifico', cursive;
$font-baskerville: 'Libre Baskerville', serif;
$font-opensans: 'Open Sans', sans-serif;


/*  ================================================
    Borders
==================================================== */
$border-radius: 5px;



/*  ================================================
    Layout
==================================================== */
$content-max-width: 1168px;
$content-padding: 24px;
