@import "vendor/normalize";
@import "config";

body{
    background: $dark-purple;
    font-family: $font-opensans;
    line-height: 1.75em; /* 28 / 16 */
    color: $purple;
}

.page-wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background: $white;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    margin-bottom: 1em;
}

.content-wrapper{
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 $content-padding;
    position: relative;
}

.like-count{
    border: 1px solid $purple-trans;
    border-radius: 3px;
    padding: 0 2px;
    color: $purple-trans;
    font-size: 0.6875em; /* 11 / 16 */
}

.skew{
    transform: rotate(-3deg) ;
    -webkit-transform: rotate(-3deg) ;
    -moz-transform: rotate(-3deg) ;
    -o-transform: rotate(-3deg) ;
    -ms-transform: rotate(-3deg) ;
}

footer{
    height: 50px;

    a{
        display: block;
        position: relative;
        top: 10px;
        margin: 0 auto;
        width: 104px;
        height: 27px;
        background: url('../images/logo-heijmans.png') center center no-repeat;
        background-size: 104px 27px;

        span{
            display: none;
        }
    }
}


@import "components/header";
@import "components/login";
@import "components/home";
@import "components/action";
@import "components/project";
@import "components/addform";
@import "components/list";
