@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*  ================================================
    Colors
==================================================== */
/*  ================================================
    Borders
==================================================== */
/*  ================================================
    Borders
==================================================== */
/*  ================================================
    Layout
==================================================== */
body {
  background: #2a273b;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.75em;
  /* 28 / 16 */
  color: #443e5e; }

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  background: white; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  margin-bottom: 1em; }

.content-wrapper {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 24px;
  position: relative; }

.like-count {
  border: 1px solid rgba(50, 46, 70, 0.7);
  border-radius: 3px;
  padding: 0 2px;
  color: rgba(50, 46, 70, 0.7);
  font-size: 0.6875em;
  /* 11 / 16 */ }

.skew {
  transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg); }

footer {
  height: 50px; }
  footer a {
    display: block;
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 104px;
    height: 27px;
    background: url('../images/logo-heijmans.png') center center no-repeat;
    background-size: 104px 27px; }
    footer a span {
      display: none; }

header {
  height: 90px;
  background: white; }
  header .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  header.header-login .content-wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  header .logo {
    width: 164px;
    height: 58px;
    margin: 16px 0;
    background-image: url('../images/logo-heijmans-cj.png');
    background-size: 164px 58px; }
  header .menu-block {
    position: relative;
    z-index: 2;
    margin-top: 24px; }
    header .menu-block ul {
      list-style-type: none;
      padding: 0;
      margin: 0; }
    header .menu-block > ul > li {
      position: relative;
      float: left;
      margin-right: 20px; }
      header .menu-block > ul > li:focus > a, header .menu-block > ul > li:hover > a {
        border-color: #2a273b;
        background: #2a273b;
        color: white; }
      header .menu-block > ul > li:focus div.sub, header .menu-block > ul > li:hover div.sub {
        display: block; }
    header .menu-block > ul > li > a {
      display: inline-block;
      height: 36px;
      padding: 0 20px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      text-decoration: none;
      line-height: 36px;
      color: #443e5e; }
    header .menu-block > ul > li.has-sub > a {
      padding-right: 30px; }
      header .menu-block > ul > li.has-sub > a:after {
        position: absolute;
        top: 8px;
        right: 15px;
        width: 9px;
        height: 23px;
        background-image: url('../images/icon-arrow-down-red.svg');
        background-size: 9px 23px;
        background-position: center center;
        background-repeat: no-repeat;
        content: ''; }
    header .menu-block div.sub {
      display: none; }
      header .menu-block div.sub:before {
        position: relative;
        top: -5px;
        display: block;
        height: 50px;
        background: #2a273b;
        content: ' '; }
    header .menu-block div.sub ul {
      position: absolute;
      top: 45px;
      left: 0;
      padding: 15px;
      width: 300px;
      background: #2a273b;
      border-radius: 5px; }
      header .menu-block div.sub ul li {
        border-bottom: 1px solid #443e5e;
        padding: 10px 0;
        line-height: 1em; }
        header .menu-block div.sub ul li:first-child {
          border-top: 1px solid #443e5e; }
      header .menu-block div.sub ul a {
        display: block;
        font-size: 0.75em;
        /* 12/16 */
        color: white;
        text-decoration: none; }
        header .menu-block div.sub ul a:hover {
          text-decoration: underline; }
  header .user-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 19px 0; }
    header .user-block .text {
      padding-top: 8px;
      text-align: right;
      line-height: 1em; }
      header .user-block .text a {
        color: #d8232a;
        font-size: 0.8125em;
        /* 13 / 16 */
        text-decoration: underline;
        cursor: pointer; }
    header .user-block .name {
      color: #443e5e;
      font-weight: bold; }
    header .user-block .avatar {
      margin-left: 14px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat; }

body.login {
  background: #443e5e url('../images/login-background.png') center 90px; }

div.login-form {
  margin: 0 auto;
  margin-top: 160px;
  margin-bottom: 50px;
  width: 653px;
  height: 600px;
  background: url('../images/register-form-background.png') center center no-repeat;
  background-size: 653px 600px; }
  div.login-form .inner {
    padding: 50px; }
  div.login-form .skew {
    padding: 10px 0; }
  div.login-form h1 {
    font-weight: 800;
    font-size: 2.5em;
    /* 40 / 16 */
    text-transform: uppercase; }
  div.login-form h2 {
    margin-bottom: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 1.625em;
    /* 26 / 16 */
    color: #f1af2a; }
  div.login-form #header-register, div.login-form #form-register {
    display: none; }
  div.login-form label {
    display: none; }
  div.login-form input[type="text"], div.login-form input[type="email"], div.login-form input[type="password"] {
    padding: 15px;
    width: 520px;
    margin-bottom: 10px;
    border: 1px solid #e0e0e0; }
  div.login-form button {
    position: relative;
    min-width: 160px;
    padding: 10px 15px;
    padding-right: 40px;
    border: 2px solid #d8232a;
    background: white;
    color: #d8232a;
    text-align: left;
    text-transform: uppercase;
    float: left; }
    div.login-form button:after {
      position: absolute;
      right: 15px;
      font-weight: bold;
      font-size: 1.5em;
      /* 24 / 16 */
      content: '›'; }
  div.login-form a {
    color: #d8232a; }
  div.login-form a.flt {
    font-size: 0.75em;
    /* 12 / 16 */
    float: right; }

.home-carroussel {
  background-color: white;
  background-image: url('../images/home-header-background.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 630px; }
  .home-carroussel ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .home-carroussel #action-list {
    display: none; }
    .home-carroussel #action-list:before {
      position: absolute;
      top: 70px;
      left: 47px;
      content: '';
      display: block;
      width: 439px;
      height: 131px;
      background-image: url('../images/actionlist-title.svg');
      background-size: 439px 131px;
      background-position: top left;
      background-repeat: no-repeat; }
  .home-carroussel #actionCarrousselCanvas {
    position: absolute;
    top: 70px;
    left: -30px; }
  .home-carroussel .list-wrapper {
    position: absolute;
    top: 195px;
    right: 24px;
    background-image: url('../images/actionlist-background.svg');
    background-position: center center;
    background-size: 674px 551px;
    background-repeat: no-repeat;
    width: 674px;
    height: 551px; }
  .home-carroussel .cat-wrapper {
    display: none;
    padding-top: 50px;
    padding-left: 70px; }
    .home-carroussel .cat-wrapper h2 {
      font-size: 2.5em;
      /* 40 / 16 */
      font-weight: 800;
      text-transform: uppercase; }
    .home-carroussel .cat-wrapper div.intro {
      margin-top: 40px;
      margin-right: 50px; }
      .home-carroussel .cat-wrapper div.intro p {
        font-size: 0.875em;
        /* 14 / 16 */
        line-height: 1.2em; }
    .home-carroussel .cat-wrapper div.list {
      margin-right: 50px;
      height: 320px;
      overflow: auto; }
    .home-carroussel .cat-wrapper table {
      width: 100%; }
    .home-carroussel .cat-wrapper td {
      border-top: 1px solid #443e5e;
      border-bottom: 1px solid #443e5e;
      padding: 10px 0; }
      .home-carroussel .cat-wrapper td.number {
        width: 40px;
        vertical-align: top; }
      .home-carroussel .cat-wrapper td.title a {
        color: #2a273b;
        text-decoration: none; }
        .home-carroussel .cat-wrapper td.title a:hover {
          text-decoration: underline; }
      .home-carroussel .cat-wrapper td.category a {
        color: #2a273b;
        text-decoration: none; }
        .home-carroussel .cat-wrapper td.category a:hover {
          text-decoration: underline; }
      .home-carroussel .cat-wrapper td.link a {
        color: #d8232a;
        font-size: 1.5em;
        /* 24 / 16 */
        text-decoration: none; }
      .home-carroussel .cat-wrapper td .like-count {
        margin-left: 7px; }

.skb-rates {
  position: absolute;
  top: 30px;
  right: 24px;
  text-align: right; }
  .skb-rates h3 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 1em;
    color: white; }
  .skb-rates ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .skb-rates li {
    text-align: center;
    margin-left: 30px; }
  .skb-rates div.rate {
    background: #f1af2a;
    margin: 0 auto;
    margin-bottom: 3px;
    width: 63px;
    height: 63px;
    border-radius: 63px;
    color: white;
    line-height: 63px;
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 1.5em;
    /* 24 / 16 */ }
  .skb-rates div.region {
    color: white; }

.home-intro {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 180px;
  text-align: center; }
  .home-intro h2 {
    margin-bottom: 4px;
    font-size: 1.875em;
    /* 30 / 16 */
    color: #443e5e; }
  .home-intro h3 {
    margin-bottom: 30px;
    font-family: 'Pacifico', cursive;
    font-size: 1.625em;
    /* 26 / 16 */
    color: #f1af2a; }
  .home-intro ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.home-visuals {
  height: 620px;
  position: relative; }
  .home-visuals:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: ' ';
    height: 80px;
    display: block;
    background-size: auto auto;
    background-image: url('../images/white-background-skew.svg');
    background-position: bottom center; }

.home-footer {
  padding: 70px 0;
  background: #443e5e;
  color: white; }
  .home-footer .populair-actions {
    margin-right: 380px; }
  .home-footer h2 {
    margin-bottom: 20px;
    color: #f1af2a;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.875em;
    /* 30 / 16 */
    line-height: 0.9em; }
    .home-footer h2 span {
      color: white;
      display: block; }
  .home-footer div.list {
    padding: 15px;
    border-radius: 5px;
    color: white;
    background: #2a273b;
    min-height: 260px; }
  .home-footer table {
    width: 100%; }
  .home-footer td {
    border-top: 1px solid #443e5e;
    border-bottom: 1px solid #443e5e;
    padding: 10px 0; }
    .home-footer td.title a {
      font-weight: 700;
      color: white;
      text-decoration: none; }
      .home-footer td.title a:hover {
        text-decoration: underline; }
    .home-footer td.likes {
      width: 40px; }
    .home-footer td.category {
      width: 120px; }
      .home-footer td.category a {
        color: white;
        text-decoration: none; }
        .home-footer td.category a:hover {
          text-decoration: underline; }
    .home-footer td.link a {
      color: #d8232a;
      font-size: 1.5em;
      /* 24 / 16 */
      text-decoration: none; }
    .home-footer td .like-count {
      border-color: rgba(255, 255, 255, 0.5);
      color: rgba(255, 255, 255, 0.5); }
  .home-footer .random-action {
    position: absolute;
    top: 0;
    right: 24px;
    width: 355px; }
    .home-footer .random-action .action {
      position: relative;
      background-color: #2a273b;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 5px;
      height: 290px; }
      .home-footer .random-action .action .text {
        padding: 24px 20px;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(50, 46, 70, 0.7);
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px; }
      .home-footer .random-action .action .title {
        color: white;
        font-weight: 700;
        font-size: 1.375em;
        /* 22 / 16 */ }
      .home-footer .random-action .action a {
        color: #d8232a;
        padding-right: 2px; }
      .home-footer .random-action .action .arrow {
        position: relative;
        top: 2px;
        color: #d8232a;
        font-size: 1.375em;
        /* 22 / 16 */ }

.conceptm-carroussel div.slide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 620px;
  position: relative; }
.conceptm-carroussel .text {
  position: absolute;
  top: 500px;
  max-width: 450px;
  right: 24px;
  padding: 10px 16px;
  border-radius: 5px;
  background: white;
  font-family: 'Libre Baskerville', serif; }
.conceptm-carroussel a {
  display: block;
  color: #443e5e;
  text-decoration: none; }
.conceptm-carroussel .quote {
  font-size: 1.125em;
  font-weight: 700;
  text-decoration: none; }
.conceptm-carroussel .by {
  color: rgba(50, 46, 70, 0.7);
  font-style: italic;
  text-align: right;
  margin-top: -6px;
  text-decoration: none; }
.conceptm-carroussel .slick-dots {
  bottom: 24px;
  margin: 0; }
  .conceptm-carroussel .slick-dots li {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 15px; }
    .conceptm-carroussel .slick-dots li button {
      width: 13px;
      height: 13px; }
      .conceptm-carroussel .slick-dots li button:before {
        top: 2px;
        left: 2px;
        width: 11px;
        height: 11px;
        border-radius: 11px;
        content: '';
        background: white;
        opacity: 0; }
    .conceptm-carroussel .slick-dots li.slick-active button:before {
      opacity: 1; }

.action .visual {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 450px; }
.action .header {
  background-image: url('../images/action-header-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .action .header .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .action .header .title-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .action .header h1 {
    font-size: 1.875em;
    /* 30 / 16 */
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    max-width: 600px; }
  .action .header h2 {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.375em;
    /* 22 / 16 */
    color: #f1af2a; }
    .action .header h2 span.number {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 31px;
      height: 31px;
      border: 2px solid #f1af2a;
      border-radius: 33px;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.63636em;
      /* 14 / 22 */
      text-align: center;
      line-height: 31px; }
  .action .header .actions {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .action .header .share {
    height: 77px;
    padding-right: 30px;
    margin-right: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.5); }
    .action .header .share a {
      margin-top: 12px;
      position: relative;
      display: inline-block;
      border: 2px solid white;
      border-radius: 5px;
      padding: 10px 14px 10px 47px;
      color: white;
      text-decoration: none;
      text-transform: uppercase; }
      .action .header .share a:before {
        position: absolute;
        top: 14px;
        left: 14px;
        display: block;
        content: ' ';
        background-image: url('../images/email.svg');
        background-size: 22px 19px;
        background-repeat: no-repeat;
        background-position: center center;
        width: 22px;
        height: 19px; }
      .action .header .share a:hover {
        background: white;
        color: #443e5e; }
        .action .header .share a:hover:before {
          background-image: url('../images/email_purple.svg'); }
  .action .header .like {
    margin-top: -5px; }
    .action .header .like .title {
      color: white;
      font-family: 'Pacifico', cursive;
      margin-bottom: 10px; }
    .action .header .like form {
      display: none; }
    .action .header .like button.like {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      border: 0;
      border-radius: 50px;
      background-color: #98a242;
      background-image: url('../images/thumb-up.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 22px 24px;
      opacity: 0.4; }
      .action .header .like button.like.like-no {
        background-color: #d8232a;
        background-image: url('../images/thumb-down.svg'); }
      .action .header .like button.like.active, .action .header .like button.like:hover {
        opacity: 1; }

.action-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px; }
  .action-content-wrapper .content {
    width: 70%; }
    .action-content-wrapper .content .inner {
      padding-right: 40px;
      padding-bottom: 40px; }
    .action-content-wrapper .content h3 {
      font-size: 1.25em;
      /* 20 / 16 */
      text-transform: uppercase;
      color: #443e5e; }
    .action-content-wrapper .content .chapter {
      margin-bottom: 30px; }
    .action-content-wrapper .content .download-memo {
      position: relative;
      display: inline-block;
      border: 2px solid #443e5e;
      padding: 10px;
      padding-left: 75px;
      padding-right: 15px;
      min-height: 55px;
      text-decoration: none; }
      .action-content-wrapper .content .download-memo:before {
        position: absolute;
        top: 15px;
        left: 15px;
        display: block;
        width: 40px;
        height: 49px;
        background-image: url('../images/icon-pdf.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 40px 50px;
        content: ''; }
      .action-content-wrapper .content .download-memo .cta-text-1 {
        margin-top: 12px;
        color: #443e5e;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1em; }
      .action-content-wrapper .content .download-memo .cta-text-2 {
        color: #d8232a;
        font-weight: 800;
        text-decoration: underline;
        text-transform: uppercase;
        line-height: 1em; }
    .action-content-wrapper .content .action-paginator {
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid #e0e0e0; }
      .action-content-wrapper .content .action-paginator:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both; }
      .action-content-wrapper .content .action-paginator h4 {
        margin-bottom: 5px;
        font-family: 'Pacifico', cursive;
        font-size: 1.25em;
        /* 20 / 16 */ }
      .action-content-wrapper .content .action-paginator .prev {
        float: left;
        width: 50%; }
      .action-content-wrapper .content .action-paginator .next {
        float: right;
        text-align: right;
        width: 50%; }
      .action-content-wrapper .content .action-paginator a {
        color: #d8232a;
        position: relative;
        display: block; }
      .action-content-wrapper .content .action-paginator .prev a {
        padding: 0 10px; }
        .action-content-wrapper .content .action-paginator .prev a:before {
          content: '‹';
          position: absolute;
          top: 0;
          left: 0; }
      .action-content-wrapper .content .action-paginator .next a {
        padding: 0 10px; }
        .action-content-wrapper .content .action-paginator .next a:before {
          content: '›';
          position: absolute;
          top: 0;
          right: 0; }
  .action-content-wrapper .sidebar {
    padding-top: 12px;
    width: 30%; }
    .action-content-wrapper .sidebar .block {
      position: relative;
      margin-bottom: 20px;
      border: 2px solid #443e5e;
      padding: 30px;
      background: white;
      -ms-transform: skew(4deg) rotate(4deg);
          transform: skew(4deg) rotate(4deg);
      -webkit-transform: skew(4deg) rotate(4deg);
      -moz-transform: skew(4deg) rotate(4deg); }
      .action-content-wrapper .sidebar .block .inner {
        -ms-transform: skew(-4deg) rotate(-4deg);
            transform: skew(-4deg) rotate(-4deg);
        -webkit-transform: skew(-4deg) rotate(-4deg);
        -moz-transform: skew(-4deg) rotate(-4deg); }
      .action-content-wrapper .sidebar .block h3 {
        font-size: 1.25em;
        /* 20 / 16 */
        text-transform: uppercase;
        color: #443e5e; }
      .action-content-wrapper .sidebar .block ul {
        margin: 10px 0;
        padding: 0;
        list-style-type: none; }
      .action-content-wrapper .sidebar .block a {
        color: #d8232a; }
    .action-content-wrapper .sidebar .downloads a {
      position: relative;
      padding-left: 25px; }
      .action-content-wrapper .sidebar .downloads a:before {
        position: absolute;
        top: 3px;
        left: 0;
        display: block;
        width: 16px;
        height: 19px;
        background-image: url('../images/icon-file.svg');
        background-size: 16px 19px;
        background-repeat: no-repeat;
        background-position: center center;
        content: ' '; }
    .action-content-wrapper .sidebar .ambassador {
      background: #443e5e;
      color: white; }
      .action-content-wrapper .sidebar .ambassador h3 {
        color: white; }
      .action-content-wrapper .sidebar .ambassador .contact-name {
        color: #f1af2a;
        cursor: pointer; }
      .action-content-wrapper .sidebar .ambassador .contact-location {
        font-size: 0.875em;
        /* 14 / 16 */
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.5); }
      .action-content-wrapper .sidebar .ambassador a {
        position: relative;
        color: white;
        display: block;
        padding-left: 25px;
        margin-top: 5px; }
        .action-content-wrapper .sidebar .ambassador a.contact-email:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-email.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
        .action-content-wrapper .sidebar .ambassador a.contact-phone:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-phone.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
      .action-content-wrapper .sidebar .ambassador .block-top {
        position: absolute;
        top: -14px;
        left: -2px;
        right: -2px;
        height: 40px;
        background: #443e5e;
        -ms-transform: skew(-4deg) rotate(-4deg);
            transform: skew(-4deg) rotate(-4deg);
        -webkit-transform: skew(-4deg) rotate(-4deg);
        -moz-transform: skew(-4deg) rotate(-4deg); }
    .action-content-wrapper .sidebar .contacts {
      background: #443e5e;
      color: white; }
      .action-content-wrapper .sidebar .contacts h3 {
        color: white; }
      .action-content-wrapper .sidebar .contacts ul {
        border-top: 1px solid #2a273b;
        margin-top: 15px; }
      .action-content-wrapper .sidebar .contacts li {
        position: relative;
        border-bottom: 1px solid #2a273b;
        padding: 10px 0; }
        .action-content-wrapper .sidebar .contacts li.open .contact-data {
          display: block; }
        .action-content-wrapper .sidebar .contacts li.open .arrow {
          background-image: url('../images/icon-arrow-up.svg'); }
      .action-content-wrapper .sidebar .contacts a {
        position: relative;
        color: white;
        display: block;
        padding-left: 25px;
        margin-top: 5px; }
        .action-content-wrapper .sidebar .contacts a.contact-email:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-email.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
        .action-content-wrapper .sidebar .contacts a.contact-phone:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-phone.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
      .action-content-wrapper .sidebar .contacts .contact-name {
        color: #f1af2a;
        cursor: pointer; }
      .action-content-wrapper .sidebar .contacts .contact-location {
        font-size: 0.875em;
        /* 14 / 16 */
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.5); }
      .action-content-wrapper .sidebar .contacts .contact-data {
        display: none; }
      .action-content-wrapper .sidebar .contacts .arrow {
        position: absolute;
        top: 15px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url('../images/icon-arrow-down.svg');
        background-size: 22px 6px;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer; }
      .action-content-wrapper .sidebar .contacts .block-top {
        position: absolute;
        top: -14px;
        left: -2px;
        right: -2px;
        height: 40px;
        background: #443e5e;
        -ms-transform: skew(-4deg) rotate(-4deg);
            transform: skew(-4deg) rotate(-4deg);
        -webkit-transform: skew(-4deg) rotate(-4deg);
        -moz-transform: skew(-4deg) rotate(-4deg); }
    .action-content-wrapper .sidebar .add-project-button {
      margin-top: 20px;
      margin-bottom: 5px;
      padding-top: 20px;
      text-align: center;
      border-top: 1px solid #e0e0e0; }
      .action-content-wrapper .sidebar .add-project-button button {
        padding: 8px 15px;
        border: 0;
        background: #d8232a;
        color: white;
        font-weight: bold;
        text-transform: uppercase; }
        .action-content-wrapper .sidebar .add-project-button button:before {
          position: relative;
          top: 1px;
          margin-right: 10px;
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url('../images/icon-plus.png');
          background-position: center center;
          background-size: 14px 14px;
          background-repeat: no-repeat;
          content: ''; }

.project .visual {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 550px; }
.project .header {
  background-image: url('../images/action-header-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .project .header .content-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .project .header .title-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .project .header h1 {
    font-size: 1.875em;
    /* 30 / 16 */
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    max-width: 600px; }
  .project .header h2 {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.375em;
    /* 22 / 16 */
    color: #f1af2a; }
    .project .header h2 span.number {
      position: relative;
      top: -2px;
      display: inline-block;
      width: 31px;
      height: 31px;
      border: 2px solid #f1af2a;
      border-radius: 33px;
      font-family: 'Open Sans', sans-serif;
      font-size: 0.63636em;
      /* 14 / 22 */
      text-align: center;
      line-height: 31px; }
  .project .header .actions {
    margin-top: 25px;
    text-align: right; }
    .project .header .actions h4 {
      font-family: 'Pacifico', cursive;
      font-size: 1em;
      color: white; }
    .project .header .actions a {
      color: #f1af2a; }

.project-content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px; }
  .project-content-wrapper .content {
    width: 70%; }
    .project-content-wrapper .content .inner {
      padding-right: 40px;
      padding-bottom: 40px;
      position: relative; }
    .project-content-wrapper .content .add-action-button {
      position: absolute;
      top: 0;
      right: 40px; }
      .project-content-wrapper .content .add-action-button button {
        padding: 8px 15px;
        border: 0;
        background: #d8232a;
        color: white;
        font-weight: bold;
        text-transform: uppercase; }
        .project-content-wrapper .content .add-action-button button:before {
          position: relative;
          top: 1px;
          margin-right: 10px;
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url('../images/icon-plus.png');
          background-position: center center;
          background-size: 14px 14px;
          background-repeat: no-repeat;
          content: ''; }
    .project-content-wrapper .content h2 {
      font-size: 1.5625em;
      /* 25 / 16 */
      text-transform: uppercase;
      color: #443e5e;
      margin-bottom: 20px; }
    .project-content-wrapper .content h3 {
      font-size: 1em;
      text-transform: uppercase;
      color: #443e5e; }
    .project-content-wrapper .content table {
      width: 100%;
      margin-bottom: 30px; }
    .project-content-wrapper .content td {
      border-top: 1px solid #e0e0e0;
      border-bottom: 1px solid #e0e0e0;
      padding: 10px 0; }
      .project-content-wrapper .content td.number {
        width: 40px;
        vertical-align: top; }
      .project-content-wrapper .content td.title a {
        color: #2a273b;
        text-decoration: none; }
        .project-content-wrapper .content td.title a:hover {
          text-decoration: underline; }
      .project-content-wrapper .content td.category a {
        color: #2a273b;
        text-decoration: none; }
        .project-content-wrapper .content td.category a:hover {
          text-decoration: underline; }
      .project-content-wrapper .content td.link a {
        color: #d8232a;
        font-size: 1.5em;
        /* 24 / 16 */
        text-decoration: none; }
      .project-content-wrapper .content td .like-count {
        margin-left: 7px; }
  .project-content-wrapper .sidebar {
    padding-top: 12px;
    width: 30%; }
    .project-content-wrapper .sidebar .block {
      position: relative;
      margin-bottom: 20px;
      border: 2px solid #443e5e;
      padding: 30px;
      background: white;
      -ms-transform: skew(4deg) rotate(4deg);
          transform: skew(4deg) rotate(4deg);
      -webkit-transform: skew(4deg) rotate(4deg);
      -moz-transform: skew(4deg) rotate(4deg); }
      .project-content-wrapper .sidebar .block .inner {
        -ms-transform: skew(-4deg) rotate(-4deg);
            transform: skew(-4deg) rotate(-4deg);
        -webkit-transform: skew(-4deg) rotate(-4deg);
        -moz-transform: skew(-4deg) rotate(-4deg); }
      .project-content-wrapper .sidebar .block h3 {
        font-size: 1.25em;
        /* 20 / 16 */
        text-transform: uppercase;
        color: #443e5e; }
      .project-content-wrapper .sidebar .block ul {
        margin: 10px 0;
        padding: 0;
        list-style-type: none; }
      .project-content-wrapper .sidebar .block a {
        color: #d8232a; }
    .project-content-wrapper .sidebar .contacts {
      background: #443e5e;
      color: white; }
      .project-content-wrapper .sidebar .contacts h3 {
        color: white; }
      .project-content-wrapper .sidebar .contacts ul {
        border-top: 1px solid #2a273b;
        margin-top: 15px; }
      .project-content-wrapper .sidebar .contacts li {
        position: relative;
        border-bottom: 1px solid #2a273b;
        padding: 10px 0; }
        .project-content-wrapper .sidebar .contacts li.open .contact-data {
          display: block; }
        .project-content-wrapper .sidebar .contacts li.open .arrow {
          background-image: url('../images/icon-arrow-up.svg'); }
      .project-content-wrapper .sidebar .contacts a {
        position: relative;
        color: white;
        display: block;
        padding-left: 25px;
        margin-top: 5px; }
        .project-content-wrapper .sidebar .contacts a.contact-email:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-email.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
        .project-content-wrapper .sidebar .contacts a.contact-phone:before {
          position: absolute;
          top: 3px;
          left: 0;
          display: block;
          width: 16px;
          height: 19px;
          background-image: url('../images/icon-phone.svg');
          background-size: 16px 19px;
          background-repeat: no-repeat;
          background-position: center center;
          content: ' '; }
      .project-content-wrapper .sidebar .contacts .contact-name {
        color: #f1af2a;
        cursor: pointer; }
      .project-content-wrapper .sidebar .contacts .contact-location {
        font-size: 0.875em;
        /* 14 / 16 */
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.5); }
      .project-content-wrapper .sidebar .contacts .contact-data {
        display: none; }
      .project-content-wrapper .sidebar .contacts .arrow {
        position: absolute;
        top: 15px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url('../images/icon-arrow-down.svg');
        background-size: 22px 6px;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer; }
      .project-content-wrapper .sidebar .contacts .block-top {
        position: absolute;
        top: -14px;
        left: -2px;
        right: -2px;
        height: 40px;
        background: #443e5e;
        -ms-transform: skew(-4deg) rotate(-4deg);
            transform: skew(-4deg) rotate(-4deg);
        -webkit-transform: skew(-4deg) rotate(-4deg);
        -moz-transform: skew(-4deg) rotate(-4deg); }

.add-form {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(50, 46, 70, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5; }
  .add-form h2 {
    text-transform: uppercase;
    margin-bottom: 40px; }
  .add-form .form-wrapper {
    position: relative;
    display: inline-block;
    background: white;
    min-width: 500px;
    padding: 50px;
    text-align: center; }
    .add-form .form-wrapper:after {
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      height: 40px;
      background-image: url('../images/white-background-skew.svg');
      background-size: cover;
      content: ''; }
    .add-form .form-wrapper .submit button {
      padding: 8px 15px;
      border: 0;
      background: #d8232a;
      color: white;
      font-weight: bold;
      text-transform: uppercase; }
  .add-form .close-addform {
    position: absolute;
    top: -18.5px;
    right: -18.5px;
    width: 37px;
    height: 37px;
    border: 0;
    border-radius: 37px;
    background-color: #d8232a;
    background-image: url('../images/icon-close.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    color: white; }
  .add-form .custom-select {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 300px;
    text-align: left;
    cursor: pointer; }
    .add-form .custom-select .title {
      padding: 0 10px;
      height: 38px;
      border: 1px solid #443e5e;
      border-radius: 5px;
      line-height: 38px;
      font-size: 0.875em;
      /* 14 / 16 */ }
      .add-form .custom-select .title:after {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #443e5e;
        background-image: url('../images/icon-arrow-down-white.svg');
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 40px;
        height: 40px;
        content: ' '; }
      .add-form .custom-select .title .text {
        width: 249px;
        height: 38px;
        overflow: hidden; }
    .add-form .custom-select .options {
      position: absolute;
      top: 42px;
      left: 0;
      z-index: 5;
      width: 300px;
      max-height: 250px;
      overflow-y: auto;
      display: none;
      background: #e0e0e0; }
      .add-form .custom-select .options ul {
        list-style-type: none;
        margin: 0;
        padding: 10px; }
      .add-form .custom-select .options li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 0.75em;
        /* 12 / 16 */
        line-height: 1.5em;
        cursor: pointer;
        padding: 5px 0; }
        .add-form .custom-select .options li:first-child {
          border-top: 1px solid rgba(255, 255, 255, 0.5); }
        .add-form .custom-select .options li:hover {
          text-decoration: underline; }
    .add-form .custom-select.open .title:after {
      background-image: url('../images/icon-arrow-up-white.svg'); }
    .add-form .custom-select.open .options {
      display: block; }

.list-page .header {
  background-image: url('../images/action-header-background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .list-page .header .title-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .list-page .header h1 {
    font-size: 1.875em;
    /* 30 / 16 */
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    max-width: 600px; }
  .list-page .header h2 {
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 1.375em;
    /* 22 / 16 */
    color: #f1af2a; }
.list-page .list {
  margin: 50px 0; }
  .list-page .list table {
    width: 100%; }
  .list-page .list th {
    text-align: left; }
  .list-page .list th.actions {
    width: 150px; }
  .list-page .list td {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0; }
    .list-page .list td.link a {
      color: #d8232a;
      font-size: 1.5em;
      /* 24 / 16 */
      text-decoration: none; }
    .list-page .list td.number {
      width: 40px; }
  .list-page .list a {
    color: #d8232a;
    text-decoration: none; }
    .list-page .list a:hover {
      text-decoration: underline; }
  .list-page .list .skew {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg); }
  .list-page .list .cat-wrapper {
    margin-bottom: 50px; }
  .list-page .list .list {
    margin: 0; }
  .list-page .list .like-count {
    position: relative;
    left: 10px; }
