{% set item = __SELF__.item %}
<div class="action" style="background-image: url('{{ item.image.path }}')">
    <div class="text">
        <div class="title">"{{item.title}}"</div>
        <a href="/actie/{{ item.category }}/{{ item.slug }}" title="Bekijk deze actie">Bekijk deze actie</a> <span class="arrow">›</span>
    </div>
</div>
