{% set list = __SELF__.list %}
<table>
    <thead>
        <tr>
            <th>Naam</th>
            <th>Plaats</th>
            <th>Contactpersoon</th>
            <th class="actions">Acties</th>
        </tr>
    </thead>
    <tbody>
        {% for project in list %}
        <tr>
            <td><a href="/project/{{ project.slug }}" title="{{ project.name }}">{{ project.name }}</a></td>
            <td>{{ project.city }}</td>
            <td>
                {% for key, contact in project.contacts %}

                    {% if key > 0 %}
                    ,&nbsp;
                    {% endif %}
                    {{ contact.full_name }}

                {% endfor %}

            </td>
            <td>{{ project.actions|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
