{% set list = __SELF__.list %}

<div class="list">
    <table>
        {% for action in list %}
        <tr>
            <td class="title"><a href="/actie/{{ action.category }}/{{ action.slug }}" title="{{ action.title }}">{{ action.title }}</a></td>
            <td class="likes"><span class="like-count">{{ action.aggregate }}x</span></td>
            <td class="category"><a href="#" class="cat-link" data-category="{{ action.category }}" title="Categorie: {{ action.category }}">{{ action.category_title }}</a></td>
            <td class="link"><a href="/actie/{{ action.category }}/{{ action.slug }}">›</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
