{% set type = __SELF__.type %}
{% set data = __SELF__.data %}





<ul>
    {% if type == "actions" %}
        {% for action in data %}
        <li><a href="/actie/{{ action.category }}/{{ action.slug }}" title="{{ action.full_title }}">{{ action.full_title }}</a></li>
        {% endfor %}
    {% endif %}
    {% if type == "projects" %}
        {% for project in data %}
        <li><a href="/project/{{ project.slug }}">{{ project.name }}</a></li>
        {% endfor %}
    {% endif %}
</ul>
