title = "Acties"
url = "/acties"
layout = "default"
hidden = "0"

[actionList]
list_id = ''
==
<div class="list-page">
    <div class="header">
        <div class="content-wrapper">
            <div class="title-wrapper">
                <h1>Acties</h1>
                <h2>Alle acties onder elkaar</h2>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content-wrapper">
            {% component 'actionList' %}
        </div>
    </div>
</div>

