title = "Heijmans Customer Journey"
url = "/"
layout = "default"
is_hidden = "0"

[actionList]
list_id = "action-list"

[actionTopList]


[randomAction]


[skbList]


[slick]
item = "1"
==
<div class="home-carroussel">
    <div class="content-wrapper">
        {% component 'actionList' %}
        <div class="skb-rates">
            <h3>SKB Klantwaardering</h3>
            {% component 'skbList' %}
        </div>
    </div>
</div>

<div class="home-intro">
    <h2>De Roadmap</h2>
    <h3>Werken aan de klanttevredenheid</h3>
    <p>Deze roadmap heeft als doel om onze klanttevredenheid naar een hoger niveau te brengen. Waarom? Omdat wij als Heijmans een klantgerichte organisatie willen zijn en ons daarmee onderscheiden ten opzichte van de concurrentie. Deze roadmap beschrijft een werkwijze die ons gaat helpen om de klantwaardering voor heel Heijmans Vastgoed naar een hoger niveau te brengen. In welke fase bevindt jouw project zich? Klik erop en  de acties worden zichtbaar. Heb je vragen of opmerkingen? Benader de ambassadeur of het aanspreekpunt van jouw vestiging!<br/><br/>
        De klantmanagers voor de vestigingen zijn:
    </p>
    <ul>
        <li>Amersfoort: Rianne Segers</li>
        <li>Huizen: Sandra Kool</li>
        <li>Rosmalen: Iris Koster</li>
        <li>Rotterdam: Raymond Raadtgever</li>
    </ul>
</div>

<div class="home-visuals">
{% component 'slick' %}
</div>

<div class="home-footer">
    <div class="content-wrapper">
        <div class="populair-actions">
            <h2>Top 5 <span>populaire acties</span></h2>
            {% component 'actionTopList' %}
        </div>
        <div class="random-action">
            <h2>Denk ook eens aan <span>deze actie</span></h2>
            {% component 'randomAction' %}
        </div>
    </div>

</div>
