title = "Projecten"
url = "/projecten"
layout = "default"
hidden = "0"

[projectList]
==
<div class="list-page">
    <div class="header">
        <div class="content-wrapper">
            <div class="title-wrapper">
                <h1>Projecten</h1>
                <h2>Alle projecten onder elkaar</h2>
            </div>
        </div>
    </div>
    <div class="list">
        <div class="content-wrapper">
            {% component 'projectList' %}
        </div>
    </div>
</div>
