subject = "Wachtwoord opnieuw instellen"
==

Hallo {{ name }},

Er is een aanvraag gedaan om het wachtwoord van jouw account opnieuw in te stellen.

Gebruik onderstaande code om het wachtwoord opnieuw in te stellen:
{{ code }}


Je kan de volgende link gebruiken om het proces te vervolgen:
{{ link }}


---
Dit is een automatische email. Reacties op deze email worden niet gelezen.

==

<p>Hallo {{ name }},</p>

<p>Er is een aanvraag gedaan om het wachtwoord van jouw account opnieuw in te stellen.</p>

<p>
    Gebruik onderstaande code om het wachtwoord opnieuw in te stellen:<br />
    {{ code }}
</p>

<p>
    Je kan de volgende link gebruiken om het proces te vervolgen:<br />
    <a href="{{ link }}">{{ link }}</a>
</p>

<hr />
<p>Dit is een automatische email. Reacties op deze email worden niet gelezen.</p>
