subject = "Je account is geactiveerd!"
==

Beste {{ name }},

We hebben je account geactiveerd. Je kunt nu inloggen op het Customer Roadmap platform.
http://customer-roadmap.nl
==

<p>Beste {{ name }},</p>

<p>We hebben je account geactiveerd. Je kunt nu inloggen op het Customer Roadmap platform.</p>
<a href="http://customer-roadmap.nl">Klik hier om in te loggen</a>
