[session]
security = "all"

[account]
redirect = ""
paramCode = "code"

[Flatlist]
type = "actions"

==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Concept M">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Libre+Baskerville:400,400italic|Pacifico' rel='stylesheet' type='text/css'>
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54623612-7', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body class="{% if not user %}login{% endif %}">
        {% if user %}
            <div class="page-wrapper">
                <!-- Header -->
                <header id="layout-header">
                    <div class="content-wrapper">
                        <!-- Logo -->
                        <a href="/" class="logo" title="Terug naar home"></a>

                        <div class="menu-block">
                            <ul>
                               <li><a href='/'><span>Home</span></a></li>
                               <li><a href='/acties'><span>Acties</span></a></li>
                               <li><a href='/projecten'><span>Projecten</span></a></li>

                            </ul>
                        </div>

                        <!-- User -->
                        {% partial "user" %}
                    </div>
                </header>

                <!-- Content -->
                <section id="layout-content">
                {% page %}
                </section>

                <!-- Footer -->
                <footer id="layout-footer">
                    <a href="http://www.heijmans.nl" target="_blank" title="Heijmans"><span>Heijmans</span></a>
                </footer>
            </div>
        {% else %}
            <header id="layout-header" class="header-login">
                <div class="content-wrapper">
                    <!-- Logo -->
                    <div class="logo"></div>
                </div>
            </header>

            <!-- Content -->
            <section id="layout-content">
                <div class="login-form">
                    <div class="inner">
                        <div id="header-signin">
                            <div class="skew">
                                <h1>Inloggen</h1>
                                <h2>Eerst registreren dan inloggen</h2>
                            </div>
                            <p>Via onderstaand formulier kun je inloggen. Je kunt alleen inloggen met een geregistreerd account. <a href="#" class="toggle-login-form">Klik hier</a> om een account aan te vragen.</p>
                        </div>
                        <div id="header-register">
                            <div class="skew">
                                <h1>Registreren</h1>
                                <h2>Registreer met je Heijmans emailadres</h2>
                            </div>
                            <p>Na het versturen van onderstaand formulier, zal je aanvraag behandeld worden. Na goedkeuring ontvang je per e-mail de bevestiging en kun je inloggen. We doen ons best binnen een werkdag je aanvraag behandeld te hebben.</p>
                        </div>
                        {% if not user %}
                                <div id="form-signin">
                                    {% partial account ~ '::signin' %}
                                    <a href="/reset-password" class="flt">Wachtwoord vergeten?</a>
                                    <br/><a href="#" class="toggle-login-form flt">Registreren</a>

                                </div>

                                <div id="form-register">
                                    {% partial account ~ '::register' %}
                                    <a href="#" class="toggle-login-form flt">Al een account? Log in</a>
                                </div>
                        {% else %}

                            {% partial account ~ '::activation_check' %}

                            {% partial account ~ '::update' %}

                        {% endif %}
                    </div>
                </div>

            </section>
        {% endif %}



        <!-- Scripts -->
        <script src="{{ [
            'assets/js/vendor/jquery.js',
        ]|theme }}"></script>
        <script src="{{ [
            'assets/js/vendor/konva.min.js'
        ]|theme }}"></script>
        <script src="{{ [
            'assets/js/default.js'
        ]|theme }}"></script>

        {% framework extras %}
        {% scripts %}
        <script>
            $('a.toggle-login-form').on('click', function(){
                if($('#form-signin').is(':visible')){
                    $('#form-signin').hide();
                    $('#form-register').show();

                    $('#header-signin').hide();
                    $('#header-register').show();
                } else {
                    $('#form-signin').show();
                    $('#form-register').hide();

                    $('#header-signin').show();
                    $('#header-register').hide();
                }
                return false;
            });
        </script>
    </body>
</html>
