[resetPassword]
paramCode = "code"
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="Concept M">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ 'assets/images/favicon.ico'|theme }}" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Libre+Baskerville:400,400italic|Pacifico' rel='stylesheet' type='text/css'>
        {% styles %}
        <link href="{{ [
            'assets/css/theme.css'
        ]|theme }}" rel="stylesheet">

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-54623612-7', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body class="{% if not user %}login{% endif %}">
        <header id="layout-header" class="header-login">
            <div class="content-wrapper">
                <!-- Logo -->
                <div class="logo"></div>
            </div>
        </header>

        <!-- Content -->
        <section id="layout-content">
            <div class="login-form">
                <div class="inner">
                    <div class="skew">
                        <h1>Wachtwoord vergeten?</h1>
                        <h2>Stel deze opnieuw in met je emailadres</h2>
                    </div>
                    <div id="partialUserResetForm">
                        {% if resetPassword.code == null %}
                            {% partial resetPassword ~ '::restore' %}
                        {% else %}
                            {% partial resetPassword ~ '::reset' %}
                        {% endif %}
                    </div>
                </div>
            </div>

        </section>



        <!-- Scripts -->
        <script src="{{ [
            'assets/js/vendor/jquery.js',
        ]|theme }}"></script>
        <script src="{{ [
            'assets/js/vendor/konva.min.js'
        ]|theme }}"></script>
        <script src="{{ [
            'assets/js/default.js'
        ]|theme }}"></script>

        {% framework extras %}
        {% scripts %}
        <script>
            $('a.toggle-login-form').on('click', function(){
                if($('#form-signin').is(':visible')){
                    $('#form-signin').hide();
                    $('#form-register').show();

                    $('#header-signin').hide();
                    $('#header-register').show();
                } else {
                    $('#form-signin').show();
                    $('#form-register').hide();

                    $('#header-signin').show();
                    $('#header-register').hide();
                }
                return false;
            });
        </script>
    </body>
</html>
