<div class="report-widget">
    <h3>Nieuwe gebruikers</h3>
    <?php if(sizeof($this->data) == 0){ ?>
    Er hebben zich geen nieuwe gebruikers aangemeld.
    <?php } else { ?>
    <div class="table-container">
        <table class="table data" data-provides="rowlink">
            <thead>
                <tr>
                    <th><span>Naam</span></th>
                    <th><span>Email</span></th>
                    <th><span>Datum</span></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->data as $item){

                    echo '<tr>';
                        echo '<td><a href="'.Backend::url('rainlab/user/users/update/'.$item['id']).'">'.$item['name'].'</a></td>';
                        echo '<td><a href="'.Backend::url('rainlab/user/users/update/'.$item['id']).'">'.$item['email'].'</a></td>';
                        echo '<td>'.$item['created_at'].'</td>';
                    echo '</tr>';
                }
                ?>
            </tbody>
        </table>
    </div>
    <?php } ?>
</div>
