.action{

    .visual{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 450px;
    }

    .header{
        background-image: url('../images/action-header-background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        .content-wrapper{
            display: flex;
            justify-content: space-between;
        }

        .title-wrapper{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h1{
            font-size: 1.875em; /* 30 / 16 */
            font-weight: 800;
            text-transform: uppercase;
            color: $white;
            max-width: 600px;
        }

        h2{
            margin-top: 10px;
            font-family: $font-pasifico;
            font-size: 1.375em; /* 22 / 16 */
            color: $yellow;

            span.number{
                position: relative;
                top: -2px;
                display: inline-block;
                width: 31px;
                height: 31px;
                border: 2px solid $yellow;
                border-radius: 33px;
                font-family: $font-opensans;
                font-size: 0.6363636364em; /* 14 / 22 */
                text-align: center;
                line-height: 31px;
            }
        }
        .actions{
            margin-top: 25px;
            display: flex;
        }

        .share{
            height: 77px;
            padding-right: 30px;
            margin-right: 30px;
            border-right: 2px solid $white-trans;

            a{
                margin-top: 12px;
                position: relative;
                display: inline-block;
                border: 2px solid $white;
                border-radius: 5px;
                padding: 10px 14px 10px 47px;

                color: $white;
                text-decoration: none;
                text-transform: uppercase;

                &:before{
                    position: absolute;
                    top: 14px;
                    left: 14px;
                    display: block;
                    content: ' ';
                    background-image: url('../images/email.svg');
                    background-size: 22px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 22px;
                    height: 19px;
                }

                &:hover{
                    background: $white;
                    color: $purple;

                    &:before{
                        background-image: url('../images/email_purple.svg');
                    }
                }
            }
        }

        .like{
            margin-top: -5px;

            .title{
                color: $white;
                font-family: $font-pasifico;
                margin-bottom: 10px;
            }

            form{
                display: none;
            }

            button.like{
                margin-right: 10px;
                width: 50px;
                height: 50px;
                border: 0;
                border-radius: 50px;
                background-color: $green;
                background-image: url('../images/thumb-up.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 22px 24px;
                opacity: 0.4;

                &.like-no{
                    background-color: $red;
                    background-image: url('../images/thumb-down.svg');
                }

                &.active,
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
.action-content-wrapper{
    display: flex;
    padding-top: 80px;

    .content{
        width: 70%;

        .inner{
            padding-right: 40px;
            padding-bottom: 40px;
        }

        h3{
            font-size: 1.25em; /* 20 / 16 */
            text-transform: uppercase;
            color: $purple;
        }

        .chapter{
            margin-bottom: 30px;
        }

        .download-memo{
            position: relative;
            display: inline-block;
            border: 2px solid $purple;
            padding: 10px;
            padding-left: 75px;
            padding-right: 15px;
            min-height: 55px;
            text-decoration: none;

            &:before{
                position: absolute;
                top: 15px;
                left: 15px;
                display: block;
                width: 40px;
                height: 49px;
                background-image: url('../images/icon-pdf.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 40px 50px;
                content: '';
            }

            .cta-text-1{
                margin-top: 12px;
                color: $purple;
                font-weight: 800;
                text-transform: uppercase;
                line-height: 1em;
            }
            .cta-text-2{
                color: $red;
                font-weight: 800;
                text-decoration: underline;
                text-transform: uppercase;
                line-height: 1em;
            }


        }

        .action-paginator{
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid $grey;

            &:after {
               content: " ";
               visibility: hidden;
               display: block;
               height: 0;
               clear: both;
            }

            h4{
                margin-bottom: 5px;
                font-family: $font-pasifico;
                font-size: 1.25em; /* 20 / 16 */
            }
            .prev{
                float: left;
                width: 50%;
            }

            .next{
                float: right;
                text-align: right;
                width: 50%;
            }

            a{
                color: $red;
                position: relative;
                display: block
            }

            .prev a{
                padding: 0 10px;

                &:before{
                    content: '‹';
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

            .next a{
                padding: 0 10px;

                &:before{
                    content: '›';
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    .sidebar{
        padding-top: 12px;
        width: 30%;

        .block{
            position: relative;
            margin-bottom: 20px;
            border: 2px solid $purple;
            padding: 30px;
            background: $white;
            transform: skew(4deg) rotate(4deg);
            -webkit-transform: skew(4deg) rotate(4deg);
            -moz-transform: skew(4deg) rotate(4deg);

            .inner{
                transform: skew(-4deg) rotate(-4deg);
                -webkit-transform: skew(-4deg) rotate(-4deg);
                -moz-transform: skew(-4deg) rotate(-4deg);
            }

            h3{
                font-size: 1.25em; /* 20 / 16 */
                text-transform: uppercase;
                color: $purple;
            }

            ul{
                margin: 10px 0;
                padding: 0;
                list-style-type: none;
            }

            a{
                color: $red;
            }
        }

        .downloads{
            a{
                position: relative;
                padding-left: 25px;

                &:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-file.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }
            }
        }

        .ambassador{
            background: $purple;
            color: $white;

            h3{
                color: $white;
            }

            .contact-name{
                color: $yellow;
                cursor: pointer;
            }

            .contact-location{
                font-size: 0.875em; /* 14 / 16 */
                margin-bottom: 10px;
                color: $white-trans;
            }

            a{
                position: relative;
                color: $white;
                display: block;
                padding-left: 25px;
                margin-top: 5px;


                &.contact-email:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-email.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }

                &.contact-phone:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-phone.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }
            }

            .block-top{
                position: absolute;
                top: -14px;
                left: -2px;
                right: -2px;
                height: 40px;
                background: $purple;
                transform: skew(-4deg) rotate(-4deg);
                -webkit-transform: skew(-4deg) rotate(-4deg);
                -moz-transform: skew(-4deg) rotate(-4deg);
            }
        }

        .contacts{
            background: $purple;
            color: $white;

            h3{
                color: $white;
            }

            ul{
                border-top: 1px solid $dark-purple;
                margin-top: 15px;
            }

            li{
                position: relative;
                border-bottom: 1px solid $dark-purple;
                padding: 10px 0;

                &.open{

                     .contact-data{
                        display: block;
                     }

                     .arrow{
                        background-image: url('../images/icon-arrow-up.svg');
                     }
                }
            }

            a{
                position: relative;
                color: $white;
                display: block;
                padding-left: 25px;
                margin-top: 5px;


                &.contact-email:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-email.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }

                &.contact-phone:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-phone.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }
            }

            .contact-name{
                color: $yellow;
                cursor: pointer;
            }
            .contact-location{
                font-size: 0.875em; /* 14 / 16 */
                margin-bottom: 10px;
                color: $white-trans;
            }

            .contact-data{
                display: none;
            }

            .arrow{
                position: absolute;
                top: 15px;
                right: 0;
                width: 20px;
                height: 20px;
                background-image: url('../images/icon-arrow-down.svg');
                background-size: 22px 6px;
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .block-top{
                position: absolute;
                top: -14px;
                left: -2px;
                right: -2px;
                height: 40px;
                background: $purple;
                transform: skew(-4deg) rotate(-4deg);
                -webkit-transform: skew(-4deg) rotate(-4deg);
                -moz-transform: skew(-4deg) rotate(-4deg);
            }
        }

        .add-project-button{
            margin-top: 20px;
            margin-bottom: 5px;
            padding-top: 20px;
            text-align: center;
            border-top: 1px solid $grey;

            button{
                padding: 8px 15px;
                border: 0;
                background: $red;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;

                &:before{
                    position: relative;
                    top: 1px;
                    margin-right: 10px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-image: url('../images/icon-plus.png');
                    background-position: center center;
                    background-size: 14px 14px;
                    background-repeat: no-repeat;
                    content: '';
                }
            }
        }
    }
}
