.add-form{
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(50,46,70,.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    h2{
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .form-wrapper{
        position: relative;
        display: inline-block;
        background: $white;
        min-width: 500px;
        padding: 50px;
        text-align: center;

        &:after{
            display: block;
            position: absolute;
            bottom: -30px;
            left: 0;
            right: 0;
            height: 40px;
            background-image: url('../images/white-background-skew.svg');
            background-size: cover;
            content: '';
        }

        .submit button{
            padding: 8px 15px;
            border: 0;
            background: $red;
            color: $white;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .close-addform{
        position: absolute;
        top: -(37px / 2);
        right: -(37px / 2);
        width: 37px;
        height: 37px;
        border: 0;
        border-radius: 37px;
        background-color: $red;
        background-image: url('../images/icon-close.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 12px 12px;
        color: $white;
    }

    .custom-select{
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 300px;
        text-align: left;
        cursor: pointer;

        .title{
            padding: 0 10px;
            height: 38px;
            border: 1px solid $purple;
            border-radius: $border-radius;
            line-height: 38px;
            font-size: 0.875em; /* 14 / 16 */

            &:after{
                position: absolute;
                top: 0;
                right: 0;
                background-color: $purple;
                background-image: url('../images/icon-arrow-down-white.svg');
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                -webkit-border-top-right-radius: $border-radius;
                -webkit-border-bottom-right-radius: $border-radius;
                -moz-border-radius-topright: $border-radius;
                -moz-border-radius-bottomright: $border-radius;
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                width: 40px;
                height: 40px;
                content: ' ';
            }

            .text{
                width: 249px;
                height: 38px;
                overflow: hidden;
            }
        }

        .options{
            position: absolute;
            top: 42px;
            left: 0;
            z-index: 5;
            width: 300px;
            max-height: 250px;
            overflow-y: auto;
            display: none;
            background: $grey;


            ul{
                list-style-type: none;
                margin: 0;
                padding: 10px;
            }

            li{
                border-bottom: 1px solid $white-trans;
                font-size: 0.75em; /* 12 / 16 */
                line-height: 1.5em;
                cursor: pointer;
                padding: 5px 0;

                &:first-child{
                    border-top: 1px solid $white-trans;
                }

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &.open{
            .title:after{
                background-image: url('../images/icon-arrow-up-white.svg');
            }
            .options{
                display: block;
            }
        }
    }
}
