header{
    height: 90px;
    background: $white;

    .content-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &.header-login .content-wrapper{
        justify-content: center;
    }

    .logo{

        width: 164px;
        height: 58px;
        margin: 16px 0;

        background-image: url('../images/logo-heijmans-cj.png');
        background-size: 164px 58px;
    }
    .menu-block{
        position: relative;
        z-index: 2;
        margin-top: 24px;

        ul{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        > ul > li{
            position: relative;
            float: left;
            margin-right: 20px;

            &:focus,
            &:hover{

                > a{
                    border-color: $dark-purple;
                    background: $dark-purple;
                    color: $white;
                }

                div.sub{
                    display: block;
                }
            }
        }

        > ul > li > a{
            display: inline-block;
            height: 36px;
            padding: 0 20px;
            border: 1px solid $grey;
            border-radius: $border-radius;
            text-decoration: none;
            line-height: 36px;
            color: $purple;
        }

        > ul > li.has-sub > a{

            padding-right: 30px;

            &:after{
                position: absolute;
                top: 8px;
                right: 15px;
                width: 9px;
                height: 23px;
                background-image: url('../images/icon-arrow-down-red.svg');
                background-size: 9px 23px;
                background-position: center center;
                background-repeat: no-repeat;
                content: '';
            }
        }

        div.sub{

            display: none;

            &:before{
                position: relative;
                top: -5px;
                display: block;
                height: 50px;
                background: $dark-purple;
                content: ' ';
            }

        }

        div.sub ul{
            position: absolute;
            top: 45px;
            left: 0;
            padding: 15px;
            width: 300px;
            background: $dark-purple;
            border-radius: $border-radius;

            li{
                border-bottom: 1px solid $purple;
                padding: 10px 0;
                line-height: 1em;

                &:first-child{
                    border-top: 1px solid $purple;
                }
            }

            a {
                display: block;
                font-size: 0.75em; /* 12/16 */
                color: $white;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .user-block{
        display: flex;
        padding: 19px 0;

        .text{
            padding-top: 8px;
            text-align: right;
            line-height: 1em;

            a{
                color: $red;
                font-size: 0.8125em; /* 13 / 16 */
                text-decoration: underline;
                cursor: pointer;
            }
        }

        .name{
            color: $purple;
            font-weight: bold;
        }

        .avatar{
            margin-left: 14px;
            width: 50px;
            height: 50px;

            border-radius: $border-radius;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
