.home-carroussel{
    background-color: $white;
    background-image: url('../images/home-header-background.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 630px;

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #action-list{
        display: none;

        &:before{
            position: absolute;
            top: 70px;
            left: 47px;
            content: '';
            display: block;
            width: 439px;
            height: 131px;
            background-image: url('../images/actionlist-title.svg');
            background-size: 439px 131px;
            background-position: top left;
            background-repeat: no-repeat;
        }
    }

    #actionCarrousselCanvas{
        position: absolute;
        top: 70px;
        left: -30px;
    }

    .list-wrapper{
        position: absolute;
        top: 195px;
        right: $content-padding;
        background-image: url('../images/actionlist-background.svg');
        background-position: center center;
        background-size: 674px 551px;
        background-repeat: no-repeat;
        width: 674px;
        height: 551px;
    }
    .cat-wrapper{
        display: none;
        padding-top: 50px;
        padding-left: 70px;

        h2{
            font-size: 2.5em; /* 40 / 16 */
            font-weight: 800;
            text-transform: uppercase;
        }

        div.intro{
            margin-top: 40px;
            margin-right: 50px;

            p{
                font-size: 0.875em; /* 14 / 16 */
                line-height: 1.2em;
            }
        }

        div.list{
            margin-right: 50px;
            height: 320px;
            overflow: auto;
        }

        table{
            width: 100%;
        }

        td{
            border-top: 1px solid $purple;
            border-bottom: 1px solid $purple;
            padding: 10px 0;

            &.number{
                width: 40px;
                vertical-align: top;
            }

            &.title a{
                color: $dark-purple;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.category a{
                color: $dark-purple;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.link a{
                color: $red;
                font-size: 1.5em; /* 24 / 16 */
                text-decoration: none;
            }

            .like-count{
                margin-left: 7px;
            }
        }


    }
}

.skb-rates{
    position: absolute;
    top: 30px;
    right: $content-padding;
    text-align: right;

    h3{
        margin: 0;
        margin-bottom: 20px;
        font-size: 1em;
        color: $white;
    }

    ul{
        display: flex;
    }

    li{
        text-align: center;
        margin-left: 30px;
    }

    div.rate{
        background: $yellow;
        margin: 0 auto;
        margin-bottom: 3px;
        width: 63px;
        height: 63px;
        border-radius: 63px;
        color: $white;
        line-height: 63px;
        font-family: $font-baskerville;
        font-style: italic;
        font-size: 1.5em; /* 24 / 16 */
    }
    div.region{
        color: $white;
    }
}

.home-intro{
    max-width: 750px;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;

    h2{
        margin-bottom: 4px;
        font-size: 1.875em; /* 30 / 16 */
        color: $purple;
    }

    h3{
        margin-bottom: 30px;
        font-family: $font-pasifico;
        font-size: 1.625em; /* 26 / 16 */
        color: $yellow;
    }

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }


}

.home-visuals{
    height: 620px;
    position: relative;

    &:before{
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: ' ';
        height: 80px;
        display: block;
        background-size: auto auto;
        background-image: url('../images/white-background-skew.svg');
        background-position: bottom center;
    }
}

.home-footer{
    padding: 70px 0;
    background: $purple;
    color: $white;

    .populair-actions{
        margin-right: 380px;
    }

    h2{
        margin-bottom: 20px;
        color: $yellow;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.875em; /* 30 / 16 */
        line-height: 0.9em;
        span{
            color: $white;
            display: block;
        }
    }

    div.list{
        padding: 15px;
        border-radius: $border-radius;
        color: $white;
        background: $dark-purple;
        min-height: 260px
    }
    table{
        width: 100%;
    }

    td{
        border-top: 1px solid $purple;
        border-bottom: 1px solid $purple;
        padding: 10px 0;

        &.title a{
            font-weight: 700;
            color: $white;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        &.likes {
            width: 40px;
        }

        &.category {
            width: 120px;

            a{
                color: $white;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &.link a{
            color: $red;
            font-size: 1.5em; /* 24 / 16 */
            text-decoration: none;
        }

        .like-count{
            border-color: $white-trans;
            color: $white-trans;
        }
    }

    .random-action{
        position: absolute;
        top: 0;
        right: $content-padding;
        width: 355px;

        .action{
            position: relative;
            background-color: $dark-purple;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: $border-radius;
            height: 290px;

            .text{
                padding: 24px 20px;
                text-align: center;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background: $purple-trans;
                -webkit-border-bottom-right-radius: $border-radius;
                -webkit-border-bottom-left-radius: $border-radius;
                -moz-border-radius-bottomright: $border-radius;
                -moz-border-radius-bottomleft: $border-radius;
                border-bottom-right-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            .title{
                color: $white;
                font-weight: 700;
                font-size: 1.375em; /* 22 / 16 */
            }

            a{
                color: $red;
                padding-right: 2px;
            }
            .arrow{
                position: relative;
                top: 2px;
                color: $red;
                font-size: 1.375em; /* 22 / 16 */
            }
        }
    }
}

.conceptm-carroussel{
    div.slide{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 620px;
        position: relative;
    }

    .text{
        position: absolute;
        top: 500px;
        max-width: 450px;
        right: $content-padding;
        padding: 10px 16px;
        border-radius: 5px;
        background: $white;
        font-family: $font-baskerville;
    }

    a{
        display: block;
        color: $purple;
        text-decoration: none;
    }

    .quote{
        font-size: 1.125em;
        font-weight: 700;
        text-decoration: none;
    }

    .by{
        color: $purple-trans;
        font-style: italic;
        text-align: right;
        margin-top: -6px;
        text-decoration: none;
    }



    .slick-dots{
        bottom: 24px;
        margin: 0;

        li{
            width: 15px;
            height: 15px;
            border: 1px solid $white;
            border-radius: 15px;

            button{
                width: 13px;
                height: 13px;

                &:before{
                    top: 2px;
                    left: 2px;
                    width: 11px;
                    height: 11px;
                    border-radius: 11px;
                    content: '';
                    background: $white;
                    opacity: 0;
                }
            }

            &.slick-active button:before{
                opacity: 1;
            }
        }
    }
}
