.list-page{
    .header{
        background-image: url('../images/action-header-background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        .title-wrapper{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h1{
            font-size: 1.875em; /* 30 / 16 */
            font-weight: 800;
            text-transform: uppercase;
            color: $white;
            max-width: 600px;
        }

        h2{
            margin-top: 10px;
            font-family: $font-pasifico;
            font-size: 1.375em; /* 22 / 16 */
            color: $yellow;
        }
    }

    .list{
        margin: 50px 0;

        table{
            width: 100%
        }

        th{
            text-align: left
        }

        th.actions{
            width: 150px;
        }

        td{
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            padding: 10px 0;

            &.link a{
                color: $red;
                font-size: 1.5em; /* 24 / 16 */
                text-decoration: none;
            }

            &.number{
                width: 40px;
            }
        }

        a{
            color: $red;
            text-decoration: none;

            &:hover{
                text-decoration: underline;
            }
        }

        .skew{
            transform: rotate(0deg) ;
            -webkit-transform: rotate(0deg) ;
            -moz-transform: rotate(0deg) ;
            -o-transform: rotate(0deg) ;
            -ms-transform: rotate(0deg) ;
        }

        .cat-wrapper{
            margin-bottom: 50px;
        }

        .list{
            margin: 0;
        }

        .like-count{
            position: relative;
            left: 10px;
        }
    }
}
