body.login{
    background: $purple url('../images/login-background.png') center 90px;
}

div.login-form{
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 50px;
    width: 653px;
    height: 600px;
    background: url('../images/register-form-background.png') center center no-repeat;
    background-size: 653px 600px;

    .inner{
        padding: 50px;
    }

    .skew{
        padding: 10px 0;
    }

    h1{
        font-weight: 800;
        font-size: 2.5em; /* 40 / 16 */
        text-transform: uppercase;
    }

    h2{
        margin-bottom: 30px;
        font-family: $font-pasifico;
        font-size: 1.625em; /* 26 / 16 */
        color: $yellow;
    }

    #header-register,
    #form-register{
        display: none;
    }

    label{
        display: none;

    }



    input[type="text"],
    input[type="email"],
    input[type="password"]{
        padding: 15px;
        width: 520px;
        margin-bottom: 10px;
        border: 1px solid $grey;

    }

    button{
        position: relative;
        min-width: 160px;
        padding: 10px 15px;
        padding-right: 40px;
        border: 2px solid $red;
        background: $white;
        color: $red;
        text-align: left;
        text-transform: uppercase;
        float: left;

        &:after{
            position: absolute;
            right: 15px;
            font-weight: bold;
            font-size: 1.5em; /* 24 / 16 */
            content: '›';
        }
    }

    a{
        color: $red;
    }

    a.flt{
        font-size: 0.75em; /* 12 / 16 */
        float: right;
    }
}
