.project{

    .visual{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 550px;
    }

    .header{
        background-image: url('../images/action-header-background.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom center;

        .content-wrapper{
            display: flex;
            justify-content: space-between;
        }

        .title-wrapper{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        h1{
            font-size: 1.875em; /* 30 / 16 */
            font-weight: 800;
            text-transform: uppercase;
            color: $white;
            max-width: 600px;
        }

        h2{
            margin-top: 10px;
            font-family: $font-pasifico;
            font-size: 1.375em; /* 22 / 16 */
            color: $yellow;

            span.number{
                position: relative;
                top: -2px;
                display: inline-block;
                width: 31px;
                height: 31px;
                border: 2px solid $yellow;
                border-radius: 33px;
                font-family: $font-opensans;
                font-size: 0.6363636364em; /* 14 / 22 */
                text-align: center;
                line-height: 31px;
            }
        }
        .actions{
            margin-top: 25px;
            text-align: right;

            h4{
                font-family: $font-pasifico;
                font-size: 1em;
                color: $white;
            }

            a{
                color: $yellow;
            }
        }

    }
}
.project-content-wrapper{
    display: flex;
    padding-top: 80px;

    .content{
        width: 70%;

        .inner{
            padding-right: 40px;
            padding-bottom: 40px;
            position: relative;
        }

        .add-action-button{
            position: absolute;
            top: 0;
            right: 40px;

            button{
                padding: 8px 15px;
                border: 0;
                background: $red;
                color: $white;
                font-weight: bold;
                text-transform: uppercase;

                &:before{
                    position: relative;
                    top: 1px;
                    margin-right: 10px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-image: url('../images/icon-plus.png');
                    background-position: center center;
                    background-size: 14px 14px;
                    background-repeat: no-repeat;
                    content: '';
                }
            }
        }

        h2{
            font-size: 1.5625em; /* 25 / 16 */
            text-transform: uppercase;
            color: $purple;
            margin-bottom: 20px;
        }

        h3{
            font-size: 1em;
            text-transform: uppercase;
            color: $purple;
        }

        table{
            width: 100%;
            margin-bottom: 30px;
        }

        td{
            border-top: 1px solid $grey;
            border-bottom: 1px solid $grey;
            padding: 10px 0;

            &.number{
                width: 40px;
                vertical-align: top;
            }

            &.title a{
                color: $dark-purple;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.category a{
                color: $dark-purple;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.link a{
                color: $red;
                font-size: 1.5em; /* 24 / 16 */
                text-decoration: none;
            }

            .like-count{
                margin-left: 7px;
            }
        }

    }
    .sidebar{
        padding-top: 12px;
        width: 30%;

        .block{
            position: relative;
            margin-bottom: 20px;
            border: 2px solid $purple;
            padding: 30px;
            background: $white;
            transform: skew(4deg) rotate(4deg);
            -webkit-transform: skew(4deg) rotate(4deg);
            -moz-transform: skew(4deg) rotate(4deg);

            .inner{
                transform: skew(-4deg) rotate(-4deg);
                -webkit-transform: skew(-4deg) rotate(-4deg);
                -moz-transform: skew(-4deg) rotate(-4deg);
            }

            h3{
                font-size: 1.25em; /* 20 / 16 */
                text-transform: uppercase;
                color: $purple;
            }

            ul{
                margin: 10px 0;
                padding: 0;
                list-style-type: none;
            }

            a{
                color: $red;
            }
        }

        .contacts{
            background: $purple;
            color: $white;

            h3{
                color: $white;
            }

            ul{
                border-top: 1px solid $dark-purple;
                margin-top: 15px;
            }

            li{
                position: relative;
                border-bottom: 1px solid $dark-purple;
                padding: 10px 0;

                &.open{

                     .contact-data{
                        display: block;
                     }

                     .arrow{
                        background-image: url('../images/icon-arrow-up.svg');
                     }
                }
            }

            a{
                position: relative;
                color: $white;
                display: block;
                padding-left: 25px;
                margin-top: 5px;


                &.contact-email:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-email.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }

                &.contact-phone:before{
                    position: absolute;
                    top: 3px;
                    left: 0;
                    display: block;
                    width: 16px;
                    height: 19px;
                    background-image: url('../images/icon-phone.svg');
                    background-size: 16px 19px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    content: ' ';

                }
            }

            .contact-name{
                color: $yellow;
                cursor: pointer;
            }
            .contact-location{
                font-size: 0.875em; /* 14 / 16 */
                margin-bottom: 10px;
                color: $white-trans;
            }

            .contact-data{
                display: none;
            }

            .arrow{
                position: absolute;
                top: 15px;
                right: 0;
                width: 20px;
                height: 20px;
                background-image: url('../images/icon-arrow-down.svg');
                background-size: 22px 6px;
                background-position: center center;
                background-repeat: no-repeat;
                cursor: pointer;
            }

            .block-top{
                position: absolute;
                top: -14px;
                left: -2px;
                right: -2px;
                height: 40px;
                background: $purple;
                transform: skew(-4deg) rotate(-4deg);
                -webkit-transform: skew(-4deg) rotate(-4deg);
                -moz-transform: skew(-4deg) rotate(-4deg);
            }
        }
    }
}
