<p>Als het goed is heb je een email ontvangen met daarin de activatie code. Kopieer en plak deze in onderstaand veld. Vul vervolgens een nieuwe wachtwoord in. Klik op de knop om het wachtwoord in te stellen.</p>
<form
    data-request="{{ __SELF__ }}::onResetPassword"
    data-request-update="'{{ __SELF__ }}::complete': '#partialUserResetForm'">
    <div class="form-group">
        <label for="resetCode">Activatie Code</label>
        <input name="code" type="text" class="form-control" id="resetCode" placeholder="Activatiecode" value="{{ __SELF__.code }}">
    </div>

    <div class="form-group">
        <label for="resetPassword">New Password</label>
        <input name="password" type="password" class="form-control" id="resetPassword" placeholder="Nieuw wachtwoord">
    </div>

    <button type="submit" class="btn btn-default">Wachtwoord instellen</button>
</form>
