<p>Als je je wachtwoord vergeten bent, dan kun je het wachtwoord herstellen. Vul hieronder je emailadres in en druk op de knop. Je zult een email ontvangen met daarin een code en een link. Klik op de link en je wordt naar een pagina geleid waar je i.c.m. de code een nieuw wachtwoord kan instellen.</p>
<form
    data-request="{{ __SELF__ }}::onRestorePassword"
    data-request-update="'{{ __SELF__ }}::reset': '#partialUserResetForm'">
    <div class="form-group">
        <label for="userRestoreEmail">Email</label>
        <input name="email" type="email" class="form-control" id="userRestoreEmail" placeholder="Emailadres">
    </div>

    <button type="submit" class="btn btn-default">Herstel het wachtwoord</button>
</form>
